.center{
	text-align: center;
}
.jumbotron{
	background: url('../images/bg2.jpeg');
	background-size:100%;
	background-repeat: no-repeat;
	color:white;
	opacity:0.9;
	margin-bottom:0;
}
@media(min-width:992px) {
	.jumbotron{
		min-height:100vh;
	}
}
#box{
	display:inline-block;
	margin: 4rem;
}
.navbar-transparent{
	background:transparent;
}
.navbar-dark{
	background:rgb(51, 51, 51);
}
.panel-title{
	text-align: center;
}
@media(min-width: 992px){
	.panel-body{
		min-height:22rem;
	}
	#work .row:first-of-type .panel-body{
		min-height:26.2rem;
	}
	.skills-panel{
		min-height:26.2rem;
	}
	.left-skills-col{
		padding-right:0;
	}
	.right-skills-col{
		padding-left:0;
	}
	.no-right-border{
		border-right:0;
	}
}
ul{
	margin-bottom:0;
	padding-left:30px;
}
.picture-button{
	display: block;
	width:30%;
	margin: 0 auto;
	text-align: center;
}
.pix{
	margin:auto;
}