<header>
<title>David Zilburg</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/css/custom.css">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</header>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">DavidZ</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#about">About</a>
                </li>
        </ul>
        </div>
    </div>
</nav>
<div class="jumbotron">
	<h1 class='center' style='margin: 15% 0'>David Zilburg</h1>
</div>
<section>
		<div class="container">
			<h2>About Me</h2>
			<br>
			<blockquote>
			  <p>Hi, my name is David Zilburg and I am currently a computer science undergraduate student at Northeastern University.</p>
			  <!-- <small></small> -->
			</blockquote>
		</div>
	</section>
<div class='container'>
	<section>
		<h2>Education</h1>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-warning" id=''>
					<div class="panel-heading">
					<h3 class="panel-title">Bergen County Academies High School (2011-2015)</h3>
					</div>
					<div class="panel-body">
						Academy of Technology and Computer Science, Class of 2015
						<ul>
							<li>Freshman Year: Intro To Programming</li>
							<li>Sophomore Year: AP Computer Science A Course</li>
							<li>Junior Year: Data Structures Course</li>
							<li>Senior Year: Intro to OS course alongside working on a capstone project</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-warning" id=''>
				  <div class="panel-heading">
				    <h3 class="panel-title">Northeastern University (2015-present)</h3>
				  </div>
				  <div class="panel-body">
				  	Computer Science Major, Class of 2019
				  	<ul>
				  		<li>Freshman Year (1st Semester): Fundamentals of Computer Science I</li>
				  		<li>Freshman Year (1st Semester): Discrete Structures</li>
				  	</ul>
				  </div>
				</div>
			</div>
		</div>
	</section>
	<br>
	<section>
		<h2>Work Experience</h2>
		<br>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="panel panel-danger">
				  <div class="panel-heading">
				    <h3 class="panel-title">Hertz Internship</h3>
				  </div>
				  <div class="panel-body">
				  	Mobile Developer at Hertz (Summer 2014-Summer 2015)
				  	<ul>
				  		<li>Worked on a very small team, mainly focused on the Android (hybrid) application</li>
				  		<li>Worked both summers full time, and once a week during the 2014-2015 school year</li>
				  	</ul>
				  </div>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</section>
	<br>
	<section>
		<h2>Projects</h1>
		<br>
		<div class="row">
			<div class="col-md-4 ">
				<div class="panel panel-info" id=''>
				  <div class="panel-heading">
				    <h3 class="panel-title">Frames</h3>
				  </div>
				  <div class="panel-body">
				 	At <a href="https://www.hackerleague.org/hackathons/hackru-fall-2013">hackRU Fall 2013</a>, my team created an android application called Frames, a picture sharing social network which obtains other users' pictures based on location of the user
				  </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-info" id=''>
				  <div class="panel-heading">
				    <h3 class="panel-title">Hearts</h3>
				  </div>
				  <div class="panel-body">
				  	At <a href="http://2014s.pennapps.com/">PennApps Spring 2014</a>, my team made <a href="https://gimmehearts.herokuapp.com">Hearts</a>, a Valentine's Day themed web application made to analyze Facebook conversations to get statistics
				  </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-info" id=''>
				  <div class="panel-heading">
				    <h3 class="panel-title">PlayMusic4Me</h3>
				  </div>
				  <div class="panel-body">
				  At <a href="https://www.hackerleague.org/hackathons/hackru-spring-2014">hackRU Spring 2014</a>, I worked with a beginner programmer to create a website called <a href="http://playmusic4me.herokuapp.com/">PlayMusic4Me</a> where people text message in song recommendations
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<div class="panel panel-info" id=''>
				  <div class="panel-heading">
				    <h3 class="panel-title">WearAbouts</h3>
				  </div>
				  <div class="panel-body">
				 	At <a href="https://www.hackerleague.org/hackathons/hackru-fall-2014">hackRU Fall 2014</a>, my team created a mobile application called WearAbouts, in which users can upload pictures of outfits and have other users vote on which they should wear
				  </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-info" id=''>
				  <div class="panel-heading">
				    <h3 class="panel-title">Safelist</h3>
				  </div>
				  <div class="panel-body">
				  At <a href="http://2015s.pennapps.com/"> PennApps Winter 2015</a>, my team made <a href="http://safelist.herokuapp.com/">Safelist</a>, a web application using the Postmates API to deliver craigslist items in order to distance any communication between buyer and seller
				  </div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	</section>
	<br>
	<section>
		<h2>Activities</h1>
		<br>
		<div class="row">
			<div class="col-md-4 ">
				<div class="panel panel-success" id=''>
				  <div class="panel-heading">
				    <h3 class="panel-title">FBLA (2013-2015)</h3>
				  </div>
				  <div class="panel-body">
				  <a href='http://www.fbla-pbl.org/'>Future Business Leaders of America</a>
				 	<ul>
				 		<li>2nd in the state in E-Business (2014)</li>
						<li>Club fundraising director (2013-2014 School Year)</li>
						<li>Club Vice president (2014-2015 School Year)</li>
				 	</ul>
				  </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-success" id=''>
				  <div class="panel-heading">
				    <h3 class="panel-title">hackBCA Organizer (2013-2015)</h3>
				  </div>
				  <div class="panel-body">
				  <a href="http://hackbca.com/">hackBCA</a> is a student-run high-school hackathon (24-hour programming marathon) at Bergen County
				  Academies
				  <ul>
				  	<li>On the original team of organizers for the first ever event (2014)</li>
				  	<li>Staffed the event for both 2014 and 2015</li>
				  </ul>
				  </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-success" id=''>
				  <div class="panel-heading">
				    <h3 class="panel-title">ACSL (2014)</h3>
				  </div>
				  <div class="panel-body">
				  <a href="http://www.acsl.org/">American Computer Science League</a>
				  <ul>
				  	<li>Intermediate division member of the American Computer Science League</li>
				  </ul>
				  </div>
				</div>
			</div>
		</div>
	</section>
	<br>
	<section>
		<h2>Skills</h2>
		<br>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-4 left-skills-col">
				<div class="panel panel-default no-right-border">
				  <div class="panel-heading">Most Proficient</div>
				  <div class="panel-body skills-panel">
				  	<ul>
					    <li>Java Programming</li>
					    <li>Python Programming</li>
					    <li>HTML/CSS using Bootstrap CSS Library</li>
					    <li>Javascript Programming</li>
					    <li>Basic Computer Support</li>
					</ul>
				  </div>
				</div>
			</div>
			<div class="col-md-4 right-skills-col">
				<div class="panel panel-default">
				  <div class="panel-heading">Familiar With</div>
				  <div class="panel-body skills-panel">
				   	<ul>
				   		<li>C Programming</li>
				   		<li>Objective-C Programming</li>
				   		<li>BASH Programming</li>
				   		<li>Racket Programming</li>
				   		<li>iOS SDK</li>
				   		<li>Android SDK</li>
				   		<li>Kendo Mobile UI</li>
				   		<li>Git</li>
				   	</ul>
				  </div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	</section>
	<br>
</div>
<section style="background-color:#aaa">
	<div class="container center">
		<br><br>
		<a><h1>Resume</h1></a>
		<br><br>
	</div>
</section>
<section>
	<div class="container">
		<h2>Music</h2>
		<br>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/14190510&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</section>
</body>